<!DOCTYPE html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/styles.css"> 
    </head>
    <body>
        <div class="main index-main">
            <a href="/movies" class="half">movies</a>
            <a href="/comments"  class="half">comments</a>                            
        </div>
    </body>    
</html>
    
     
       
    